<h3>Login</h3>
<form name="loginform" ng-submit="formSubmit()" class="form">
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="user" placeholder="username" required=""/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="repo" placeholder="repository name" required=""/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="path" placeholder="path to repo file" required="" ng-pattern="/^.*\.json$/i"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Login</button>
      <span class="text-danger">{{ error }}</span>
    </div>
    <div ng-show="loginform.$valid"><em>Form is valid</em></div>
    <div ng-show="loginform.$invalid"><em>Form is not valid</em></div>
  </div>
</form>
