<div class="container-fluid">
  <div class="row" style="margin-bottom:10px">
    <div ng-class="{'col-md-12': !selectedRow, 'col-md-6': selectedRow}">
      <h3>Fahrzeugstammdaten
        <button class="btn btn-primary pull-right"
                type="submit" ng-click="logout()">Logout</button>
        <button class="btn btn-primary btn-success pull-right" ng-show="dataDirty" style="margin-right:10px;"
                type="submit" ng-click="save()">Speichern</button>
      </h3>
      <table datatable="" dt-options="tableOptions" dt-columns="tableCols" dt-instance="tableInstance" class="table table-hover"></table>
    </div>
    <div ng-show="selectedRow" class="col-md-6" ng-style="formStyle">
      <h3>Fahrzeug editieren
        <button class="btn btn-primary pull-right" ng-class="{'btn-danger': ngform.$invalid, 'btn-success': ngform.$valid}"
                type="submit" ng-show="editObjDirty" ng-click="updateObj(ngform)">Aktualisieren</button>
      </h3>
      <form name="ngform" sf-model="editObj" sf-form="formDef" sf-schema="formSchema" style="margin-top: 15px;"></form>
    </div>
  </div>
</div>
